.tours {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 30px;
}
.tours-item {
  width: 28%;
  margin: 25px 10px;
  border-radius: 7px;
  background-color: white;
  transition: 0.7s ease-in;
  position: relative;
}
.tours-item-label {
  position: absolute;
  top: 190px;
  left: 10px;
  background-color: rgb(2, 2, 50);
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 7px;
}
.tours-item:hover {
  background-color: snow;
  box-shadow: 0 0 1px 1px gray;
}
.tours-item-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}
.tours-item-body {
  padding: 15px 10px;
  color: var(--primary-text-color);
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.tours-item-duration {
  margin: 15px 0;
  font-weight: 600;
}
.tours-item-price {
  margin-top: 25px;
  margin-bottom: 15px;
  color: gray;
  display: flex;
  align-items: center;
}
.tours-item-price strong {
  color: red;
  font-size: 21px;
  font-weight: bold;
}
.tours-item-price p {
  margin-left: 5px;
}
.tours-item-link {
  font-size: 17px;
  cursor: pointer;
  color: white;
  background-color: blue;
  text-align: center;
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  border: none;
  text-decoration: none;
}
/* Rating */
.rating {
  color: rgb(255, 218, 9);
  display: flex;
  align-items: center;
}
.rating .rating-icon {
  font-size: 21px;
  margin-right: 4px;
}
.rating span:first-of-type {
  font-weight: 500;
  margin: 0 10px;
  color: var(--primary-text-color);
}
.rating span:last-of-type {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
/* Media Queries */
@media (max-width: 1064px) {
  .tours-item {
    width: 44%;
  }
}
@media (max-width: 720px) {
  .tours-item {
    width: 90%;
  }
}
@media (max-width: 520px){
  .tours-item {
      width: 100%;
  }
}